:root {
  /** colors */
  --color-name: custom;
  --color-bg-shade: #242A2F;
  --color-bg-base: #2D353B;
  --color-bg-surface: #364047;
  --color-bg-highlight: #3F4A53;
  --color-fg-shade: #B9A478;
  --color-fg-base: #D3C6AA;
  --color-fg-surface: #D3C6AA;
  --color-fg-highlight: #D3C6AA;
  --color-primary-bg: #425047;
  --color-primary-base: #a7c080;
  --color-primary-fg: #D3C6AA;
  --color-secondary-bg: #2d353b;
  --color-secondary-base: #859289;
  --color-secondary-fg: #9DA9A0;
  --color-palette-red: #E67E80;
  --color-palette-green: #A7C080;
  --color-palette-yellow: #DBBC7F;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #E69875;
  
  /** general */
  --font-family: Jetbrains Mono;
  --font-size: 1;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 1000px;
 --surface-shadow: 1px 1px 0px rgb(66, 80, 71), 2px 2px 0px rgb(65.3225806451613, 79.12903225806451, 70.61290322580645), 3px 3px 0px rgb(64.64516129032258, 78.25806451612904, 70.2258064516129), 4px 4px 0px rgb(63.96774193548387, 77.38709677419355, 69.83870967741936), 5px 5px 0px rgb(63.29032258064516, 76.51612903225806, 69.45161290322581), 6px 6px 0px rgb(62.61290322580645, 75.64516129032258, 69.06451612903226), 7px 7px 0px rgb(61.935483870967744, 74.7741935483871, 68.6774193548387), 8px 8px 0px rgb(61.25806451612903, 73.90322580645162, 68.29032258064517), 9px 9px 0px rgb(60.58064516129032, 73.03225806451613, 67.90322580645162), 10px 10px 0px rgb(59.903225806451616, 72.16129032258064, 67.51612903225806), 11px 11px 0px rgb(59.225806451612904, 71.29032258064517, 67.12903225806451), 12px 12px 0px rgb(58.54838709677419, 70.41935483870968, 66.74193548387098), 13px 13px 0px rgb(57.87096774193549, 69.54838709677419, 66.35483870967742), 14px 14px 0px rgb(57.193548387096776, 68.6774193548387, 65.96774193548387), 15px 15px 0px rgb(56.516129032258064, 67.80645161290323, 65.58064516129032), 16px 16px 0px rgb(55.83870967741936, 66.93548387096774, 65.19354838709677), 17px 17px 0px rgb(55.16129032258065, 66.06451612903226, 64.80645161290323), 18px 18px 0px rgb(54.483870967741936, 65.19354838709677, 64.41935483870968), 19px 19px 0px rgb(53.806451612903224, 64.3225806451613, 64.03225806451613), 20px 20px 0px rgb(53.12903225806452, 63.45161290322581, 63.645161290322584), 21px 21px 0px rgb(52.45161290322581, 62.58064516129032, 63.25806451612903), 22px 22px 0px rgb(51.774193548387096, 61.70967741935484, 62.87096774193549), 23px 23px 0px rgb(51.096774193548384, 60.83870967741936, 62.483870967741936), 24px 24px 0px rgb(50.41935483870968, 59.96774193548387, 62.096774193548384), 25px 25px 0px rgb(49.74193548387097, 59.096774193548384, 61.70967741935484), 26px 26px 0px rgb(49.064516129032256, 58.225806451612904, 61.32258064516129), 27px 27px 0px rgb(48.38709677419355, 57.35483870967742, 60.935483870967744), 28px 28px 0px rgb(47.70967741935484, 56.483870967741936, 60.54838709677419), 29px 29px 0px rgb(47.03225806451613, 55.61290322580645, 60.16129032258065), 30px 30px 0px rgb(46.35483870967742, 54.74193548387097, 59.774193548387096), 31px 31px 0px rgb(45.67741935483871, 53.87096774193549, 59.38709677419355), 32px 32px 0px rgb(45, 53, 59);

  --surface-borderRadius: 10px;


  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 4;
}
